{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "SUPABASE_URL": "",
    "SUPABASE_SERVICE_ROLE_KEY": ""
  }
}
