# dependencies
node_modules

# azure functions
functions/dist
functions/local.settings.json

# next.js
.next
out

# env
.env*.local

# supabase
supabase/.branches
supabase/.temp

# azure static web apps
.swa

# bicep build output
infra/*.json

# misc
.DS_Store
*.log
*.tsbuildinfo
